@import 'tailwindcss';

@theme {
	--font-netflix-sans: var(--font-netflix-sans);

	--color-black: #000000;
	--color-white: #ffffff;
	--color-black-sub: #262626;
	--color-gray-100: #c4c4c4;
	--color-gray-200: #8c8787;
	--color-gray-300: #424242;

	/* font sizes */
	--text-10: 10px;
	--text-12: 12px;
	--text-13: 13px;
	--text-14: 14px;
	--text-15: 15px;
	--text-16: 16px;
	--text-18: 18px;
	--text-20: 20px;
	--text-24: 24px;
	--text-28: 28px;
}

@layer utilities {
	.header1 {
		@apply font-netflix-sans text-24 font-medium leading-normal;
	}

	.headline1 {
		@apply font-netflix-sans text-24 font-bold leading-normal;
	}

	.headline2 {
		@apply font-netflix-sans text-20 font-bold leading-normal;
	}

	.headline2-medium {
		@apply font-netflix-sans text-20 font-medium leading-normal;
	}

	.body1 {
		@apply font-netflix-sans text-16 font-normal leading-normal;
	}

	.body2 {
		@apply font-netflix-sans text-14 font-normal leading-normal;
	}

	.body2-medium {
		@apply font-netflix-sans text-14 font-medium leading-normal;
	}

	.body3 {
		@apply font-netflix-sans text-12 font-normal leading-normal;
	}

	.caption {
		@apply font-netflix-sans text-10 font-normal leading-normal;
	}

	.swiper-wrapper {
		@apply w-full h-full flex;
	}
}

@layer base {
	:root {
		/* bg-linear-(--movie-bg-gradient) 와 같이 사용 */
		--movie-bg-gradient: 180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 87.26%, #000 100%;
	}

	body {
		@apply bg-black;
		@apply text-white;
		@apply font-netflix-sans;

		/* min-width: var(--mobile-width); */
		min-height: 100vh;
		max-width: 512px;
		margin: auto;
	}

	button,
	a {
		@apply outline-none;
		@apply cursor-pointer;
		@apply border-none;
	}
}

.no-scrollbar {
	scrollbar-width: none;
}
